* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: #8B8B8B;
    /* background-color: white; */
}
.first-div {
    display: flex;

    height: 655px;
}
.social-media {
    width: 5%;
    display: block;
    /* background-color: black; */
    height: 100%;
    /* border: 3px solid black; */
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.153573);
}

.social {
    margin-top: 460px;
    transform: rotate(-90deg);

    display: flex;

}
.social-media i {
    text-align: center;
    padding: 15px 0;
    font-size: 40px;
    display: flex;
    justify-content: center;

    align-items: center;
    /* color: tomato; */
    color: black;
}
.social h6 {


    padding-left: 30px;
    font-weight: 300;
    font-size: 8px;
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;



}
.social h6:hover {
    text-decoration: underline;
    cursor: pointer;
}
.main-body {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}
.first-h2 {
    width: 20%;
    height: 70px;
    /* border: 3px solid black; */
    padding: 17px 10px;
    color: black;
    font-family: 'Roboto Slab', serif;
}
.first-h2 span {
    color: #FDBF44;
}
.body {
    width: 80%;
    height: 550px;
    /* border: 3px solid black; */
    background-image: url("./sofashop.png");
    background-size: cover;
    background-position: center;
}
.links {
    background-color: white;
    margin-left: 35%;
    /* padding: 15px; */
    display: flex;
    justify-content: space-evenly;
}
.links a {
    font-size: 12px;
    color: black;
    padding: 13px;
    text-decoration: none;
    /* border: 2px solid black; */
}

.space {
    border: 3px solid rgba(253, 191, 68, 0.15);

}

.first-h1{
    font-family: 'Roboto Slab', serif;
    padding-top: 102px;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 1px;



    color: black;
    font-size: 55px;
    /* border: 3px solid black; */
}
.second-h1 {
    padding-top: 1px;

    font-family: 'Roboto Slab', serif;
    height: 52px;
    overflow: hidden;

    font-size: 55px;
    /* border: 3px solid black; */
    padding-left: 10%;
    width: 40%;
    margin: 0 auto;
    color: #FDBF44;
    /* padding-left: 50%; */

}
.mckenzie {
    /* height: 200px; */
    position: absolute;
    /* background-color: black; */
    background-color: white;
    color: #91949A;
    top: 440px;
    left: 200px;
    /* bottom: 100px; */
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.153573);
    /* width: 25%; */
    padding: 30px 30px 10px 20px;
    border-left: 7px solid #FDBF44;
    /* border: 3px solid black; */
}
.mckenzie h6 {
    padding-bottom: 20px;
}
.mckenzie h2 {
    padding-bottom: 20px;
    color: black;
}
.mckenzie p {
    font-size: 10px;
}
.button {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.button button {
    background-color: #000A1E;
    border: 3px solid #000A1E;
    padding: 7px 13px;
    font-size: 10px;
}
.button button:hover {
    background-color: #8B8B8B;
    border: 3px solid #8B8B8B;
    cursor: pointer;
    color: black;
    transition: 1s;
}
.position {
    /* border: 3px solid black; */
    /* padding: 20px; */
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: flex-end;

}
.position i {
    /* border: 1px solid blue; */
    padding-right: 30px;

    color: black;
    font-size: 30px;
}
.mobile-view {
    width: 75%;
    /* border: 3px solid white; */
    margin: 0 auto;
    display: none;
}
.mobile-view h1 {
    text-align: center;
}
